.error-msg{
    text-align: center;
    color: red;
    font-size: 16px;
}

/*let nav_footer in the bottom*/
.am-tab-bar{
    position: fixed;
    bottom:0;
    width:100%;
    height: inherit;
}

/*let header stay on the top*/
.stick-top{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

/*chat style*/
#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}
